<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAccountManagerService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAccountManagerService"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8034/Rti.AccountManagerService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManagerService" contract="IAccountManagerService" name="NetTcpBinding_IAccountManagerService"/>
      <endpoint address="http://localhost:8035/Rti.AccountManagerService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountManagerService" contract="IAccountManagerService" name="WSHttpBinding_IAccountManagerService">
        <identity>
          <userPrincipalName value="cbunders@emsc.root01.org"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
