<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <!-- specifies the version of WCF to use-->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TCPEndPoint"/>
        <binding>
          <security mode="Transport">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="netTcpLocal"
        address="net.tcp://localhost:8044/Rti.EagleIqGatewayService/" 
        binding="netTcpBinding" 
        bindingConfiguration="TCPEndPoint" 
        contract="Rti.InternalInterfaces.ServiceContracts.IEagleIqGatewayService" 
        />
      <endpoint name="netTcpRemote"
        address="net.tcp://localhost:8044/Rti.EagleIqGatewayService/"
        binding="netTcpBinding"
        bindingConfiguration="TCPEndPoint"
        contract="Rti.InternalInterfaces.ServiceContracts.IEagleIqGatewayService"
        />
    </client>
  </system.serviceModel>
</configuration>
