<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WpfDocViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WpfDocViewer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WpfDocViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WpfDocViewer.Properties.Settings>
      <setting name="DBCxnString" serializeAs="String">
        <value>Data Source=rtidb01;User ID=appinfouser;Password=appinfo</value>
      </setting>
      <setting name="DBFWCxn" serializeAs="String">
        <value>Data Source=imageprod;User ID=prebill;Password=pr3b1ll;</value>
      </setting>
    </WpfDocViewer.Properties.Settings>
    <WpfDocViewer.Settings>
      <setting name="DBCxnString" serializeAs="String">
        <value>Data Source=rtidb01;User ID=appinfouser;Password=appinfo</value>
      </setting>
    </WpfDocViewer.Settings>
  </applicationSettings>
  <userSettings>
    <WpfDocViewer.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>ORAIMGB.rti.com</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>rtidb01.rti.com</value>
      </setting>
      <setting name="userid" serializeAs="String">
        <value>appinfouser</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>appinfo</value>
      </setting>
      <setting name="FWServer" serializeAs="String">
        <value>oraimgb.rti.com</value>
      </setting>
      <setting name="FWdatabase" serializeAs="String">
        <value>imageprod</value>
      </setting>
      <setting name="FWuser" serializeAs="String">
        <value>prebill</value>
      </setting>
      <setting name="FWpassword" serializeAs="String">
        <value>pr3b1ll</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="History1" serializeAs="String">
        <value />
      </setting>
      <setting name="History2" serializeAs="String">
        <value />
      </setting>
      <setting name="History3" serializeAs="String">
        <value />
      </setting>
      <setting name="History4" serializeAs="String">
        <value />
      </setting>
      <setting name="History5" serializeAs="String">
        <value />
      </setting>
      <setting name="History6" serializeAs="String">
        <value />
      </setting>
      <setting name="Docno" serializeAs="String">
        <value />
      </setting>
      <setting name="Pardocno" serializeAs="String">
        <value />
      </setting>
      <setting name="Practice" serializeAs="String">
        <value />
      </setting>
      <setting name="Division" serializeAs="String">
        <value />
      </setting>
      <setting name="Account" serializeAs="String">
        <value />
      </setting>
      <setting name="DepdtStart" serializeAs="String">
        <value />
      </setting>
      <setting name="DepdtEnd" serializeAs="String">
        <value />
      </setting>
      <setting name="Doctype" serializeAs="String">
        <value />
      </setting>
      <setting name="saveSelectedItem1" serializeAs="String">
        <value />
      </setting>
      <setting name="saveSelectedItem2" serializeAs="String">
        <value />
      </setting>
      <setting name="saveSelectedItem3" serializeAs="String">
        <value />
      </setting>
      <setting name="saveSelectedItem4" serializeAs="String">
        <value />
      </setting>
      <setting name="saveSelectedItem5" serializeAs="String">
        <value />
      </setting>
      <setting name="saveSelectedItem6" serializeAs="String">
        <value />
      </setting>
      <setting name="saveMap" serializeAs="String">
        <value />
      </setting>
      <setting name="Embacct" serializeAs="String">
        <value />
      </setting>
      <setting name="Docdet" serializeAs="String">
        <value />
      </setting>
      <setting name="Reason" serializeAs="String">
        <value />
      </setting>
      <setting name="saveActivity" serializeAs="String">
        <value />
      </setting>
      <setting name="Index1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Index2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Index3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Index4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Index5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Index6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SearchChecksEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settings1" serializeAs="String">
        <value />
      </setting>
      <setting name="DocHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="DocWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="DocTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DocLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveColumnOrder" serializeAs="String">
        <value>0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32</value>
      </setting>
      <setting name="SaveEmbillzColumnOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveNavC2PColumnOrder" serializeAs="String">
        <value />
      </setting>
    </WpfDocViewer.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlowareWebServiceManagerSoapBinding" />
        <binding name="FlowareWebServiceManagerSoapBinding1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAdministrationService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IDocumentManagerService" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="TCPEndPoint" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8025/Rti.AdministrationService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdministrationService"
        contract="Rti.InternalInterfaces.ServiceContracts.IAdministrationService"
        name="NetTcpBinding_IAdministrationService" />
      <endpoint address="net.tcp://localhost:8025/Rti.AdministrationService/"
        binding="netTcpBinding" bindingConfiguration="TCPEndPoint" contract="Rti.InternalInterfaces.ServiceContracts.IAdministrationService"
        name="netTcpLocalAdmin" />
      <endpoint address="net.tcp://apps.rti.com:8025/Rti.AdministrationService/"
        binding="netTcpBinding" bindingConfiguration="TCPEndPoint" contract="Rti.InternalInterfaces.ServiceContracts.IAdministrationService"
        name="netTcpRemoteAdmin" />
      <endpoint address="net.tcp://localhost:8064/Rti.DocumentManagerService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDocumentManagerService"
        contract="Rti.InternalInterfaces.ServiceContracts.IDocumentManagerService"
        name="NetTcpBinding_IDocumentManagerService" />
      <endpoint address="net.tcp://localhost:8064/Rti.DocumentManagerService/"
        binding="netTcpBinding" bindingConfiguration="TCPEndPoint" contract="Rti.InternalInterfaces.ServiceContracts.IDocumentManagerService"
        name="netTcpLocalDocMgr" />
      <endpoint address="net.tcp://apps.rti.com:8064/Rti.DocumentManagerService/"
        binding="netTcpBinding" bindingConfiguration="TCPEndPoint" contract="Rti.InternalInterfaces.ServiceContracts.IDocumentManagerService"
        name="netTcpRemoteDocMgr" />
      <endpoint address="net.tcp://localhost:8044/Rti.EagleIqGatewayService/"
        binding="netTcpBinding" bindingConfiguration="TCPEndPoint" contract="Rti.InternalInterfaces.ServiceContracts.IEagleIqGatewayService"
        name="netTcpLocal" />
      <endpoint address="net.tcp://apps.rti.com:8044/Rti.EagleIqGatewayService/"
        binding="netTcpBinding" bindingConfiguration="TCPEndPoint" contract="Rti.InternalInterfaces.ServiceContracts.IEagleIqGatewayService"
        name="netTcpRemote" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
                   switchValue="All"
                   propagateActivity="true">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
                   switchValue="All">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true"
                                  logMalformedMessages="true"
                                  logMessagesAtServiceLevel="true"
                                  logMessagesAtTransportLevel="true"
                                  maxMessagesToLog="500"/>
    </diagnostics>
    </system.serviceModel>
  </configuration>
