<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <connectionStrings>
    <add name="CadAdminEntities" connectionString="metadata=res://*/CadAdminModel.csdl|res://*/CadAdminModel.ssdl|res://*/CadAdminModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.71.1.11/DEVDB01;PASSWORD=caddy;PERSIST SECURITY INFO=True;USER ID=CADADMIN&quot;" providerName="System.Data.EntityClient"/>
    <add name="RtTransBrokerAdminEntities" connectionString="metadata=res://*/RtTransBrokerAdminModel.csdl|res://*/RtTransBrokerAdminModel.ssdl|res://*/RtTransBrokerAdminModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.71.1.11/DEVDB01;PASSWORD=tranny;PERSIST SECURITY INFO=True;USER ID=RTTRANSBROKERADMIN&quot;" providerName="System.Data.EntityClient"/>
    <add name="TowerEntities" connectionString="metadata=res://*/TowerModel.csdl|res://*/TowerModel.ssdl|res://*/TowerModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TWRPROD.RTI.COM;PASSWORD=b33rm3;PERSIST SECURITY INFO=True;USER ID=TOWER&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="c:/logs/RtiAccountManagerServer.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Rti.AccountManagerServer.Servers.AccountManagerServer">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DefaultBinding" contract="Rti.InternalInterfaces.ServiceContracts.IAccountManagerService"/>
        <endpoint address="" binding="wsHttpBinding" contract="Rti.InternalInterfaces.ServiceContracts.IAccountManagerService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8034/Rti.AccountManagerService/"/>
            <add baseAddress="http://localhost:8035/Rti.AccountManagerService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultBinding">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
