<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IReportingService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IReportingService"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8074/Rti.ReportingService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReportingService" contract="IReportingService" name="NetTcpBinding_IReportingService"/>
      <endpoint address="http://localhost:8075/Rti.ReportingService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportingService" contract="IReportingService" name="WSHttpBinding_IReportingService">
        <identity>
          <userPrincipalName value="cbunders@emsc.root01.org"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
