<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <!-- ConvertPdfToTiff with GhostScript or Atalasoft -->
    <add key="ConvertPdfToTiffWith" value="Atalasoft"/>
  </appSettings>

  <connectionStrings>
    <!-- Test -->
    <add name="CadAdminModelContainer" connectionString="metadata=res://*/CadAdminModel.csdl|res://*/CadAdminModel.ssdl|res://*/CadAdminModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEVDB01;PASSWORD=caddy;PERSIST SECURITY INFO=True;USER ID=CADADMIN&quot;" providerName="System.Data.EntityClient"/>
    <add name="TowerModelContainer" connectionString="metadata=res://*/TowerModel.csdl|res://*/TowerModel.ssdl|res://*/TowerModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=RTITSTA;PASSWORD=b33rm3;PERSIST SECURITY INFO=True;USER ID=TOWER&quot;" providerName="System.Data.EntityClient"/>  
    <add name="RtTransBrokerAdminModelContainer" connectionString="metadata=res://*/RtTransBrokerAdminModel.csdl|res://*/RtTransBrokerAdminModel.ssdl|res://*/RtTransBrokerAdminModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEVDB01;PASSWORD=tranny;PERSIST SECURITY INFO=True;USER ID=RTTRANSBROKERADMIN&quot;" providerName="System.Data.EntityClient"/>
    <add name="IfamModelContainer" connectionString="metadata=res://*/IfamModel.csdl|res://*/IfamModel.ssdl|res://*/IfamModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=RTITSTA;PASSWORD=pr3b1ll;PERSIST SECURITY INFO=True;USER ID=PREBILL&quot;" providerName="System.Data.EntityClient"/>
    <!-- Live -->
    <!-- <add name="CadAdminModelContainer" connectionString="metadata=res://*/CadAdminModel.csdl|res://*/CadAdminModel.ssdl|res://*/CadAdminModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=RTIDB01;PASSWORD=caddy;PERSIST SECURITY INFO=True;USER ID=CADUSER&quot;" providerName="System.Data.EntityClient"/>  -->
    <!-- <add name="TowerModelContainer" connectionString="metadata=res://*/TowerModel.csdl|res://*/TowerModel.ssdl|res://*/TowerModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TWRPROD.RTI.COM;PASSWORD=b33rm3;PERSIST SECURITY INFO=True;USER ID=TOWER&quot;" providerName="System.Data.EntityClient"/>  -->
    <!-- <add name="RtTransBrokerAdminModelContainer" connectionString="metadata=res://*/RtTransBrokerAdminModel.csdl|res://*/RtTransBrokerAdminModel.ssdl|res://*/RtTransBrokerAdminModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=RTIDB01;PASSWORD=tranny;PERSIST SECURITY INFO=True;USER ID=RTTRANSBROKER&quot;" providerName="System.Data.EntityClient"/>   -->
    <!-- <add name="IfamModelContainer" connectionString="metadata=res://*/IfamModel.csdl|res://*/IfamModel.ssdl|res://*/IfamModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TWRPROD.RTI.COM;PASSWORD=ifam;PERSIST SECURITY INFO=True;USER ID=IFAM&quot;" providerName="System.Data.EntityClient"/>    -->
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="c:/logs/UnitTests.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlowareWebServiceManagerSoapBinding" />
        <binding name="FlowareWebServiceManagerSoapBinding1" />
        <binding name="FlowareWebServiceManagerSoapBinding2" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAdministrationService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IDocumentManagerService" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="TCPEndPoint" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000" maxConnections="1">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8025/Rti.AdministrationService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdministrationService"
        contract="Rti.InternalInterfaces.ServiceContracts.IAdministrationService" name="NetTcpBinding_IAdministrationService" />
      <endpoint name="netTcpLocalAdmin"
        address="net.tcp://localhost:8025/Rti.AdministrationService/"
        binding="netTcpBinding"
        bindingConfiguration="TCPEndPoint"
        contract="Rti.InternalInterfaces.ServiceContracts.IAdministrationService"
        />
      <endpoint name="netTcpRemoteAdmin"
        address="net.tcp://apps.rti.com:8025/Rti.AdministrationService/"
        binding="netTcpBinding"
        bindingConfiguration="TCPEndPoint"
        contract="Rti.InternalInterfaces.ServiceContracts.IAdministrationService"
        />

      <endpoint address="net.tcp://localhost:8064/Rti.DocumentManagerService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDocumentManagerService"
        contract="Rti.InternalInterfaces.ServiceContracts.IDocumentManagerService" name="NetTcpBinding_IDocumentManagerService" />
      <endpoint name="netTcpLocalDocMgr"
        address="net.tcp://localhost:8064/Rti.DocumentManagerService/"
        binding="netTcpBinding"
        bindingConfiguration="TCPEndPoint"
        contract="Rti.InternalInterfaces.ServiceContracts.IDocumentManagerService"
        />
      <endpoint name="netTcpRemoteDocMgr"
        address="net.tcp://apps.rti.com:8064/Rti.DocumentManagerService/"
        binding="netTcpBinding"
        bindingConfiguration="TCPEndPoint"
        contract="Rti.InternalInterfaces.ServiceContracts.IDocumentManagerService"
        />

      <endpoint address="http://rtiflowebtest.rti.com:8080/FlowareUtilWS/services/FlowareWebServiceManager"
        binding="basicHttpBinding" bindingConfiguration="FlowareWebServiceManagerSoapBinding"
        contract="ServiceReferenceFlowareWeb.FlowareWebServiceManager"
        name="FlowareWebServiceManager" />
       <endpoint address="http://rtifloweb.rti.com:8080/FlowareWebServiceManger/services/FlowareWebServiceManager"
        binding="basicHttpBinding" bindingConfiguration="FlowareWebServiceManagerSoapBinding2"
        contract="ServiceReferenceFlowareWebLive.FlowareWebServiceManager"
        name="FlowareWebServiceManager2" />
      <endpoint address="http://rtiflowebtest.rti.com:8080/FlowareUtilWS/services/FlowareWebServiceManager"
        binding="basicHttpBinding" bindingConfiguration="FlowareWebServiceManagerSoapBinding1"
        contract="ServiceReferenceFlowareWebTest.FlowareWebServiceManager"
        name="FlowareWebServiceManager1" />     
      <endpoint name="netTcpLocal"
        address="net.tcp://localhost:8044/Rti.EagleIqGatewayService/"
        binding="netTcpBinding"
        bindingConfiguration="TCPEndPoint"
        contract="Rti.InternalInterfaces.ServiceContracts.IEagleIqGatewayService"
        />
      <endpoint name="netTcpRemote"
        address="net.tcp://apps.rti.com:8044/Rti.EagleIqGatewayService/"
        binding="netTcpBinding"
        bindingConfiguration="TCPEndPoint"
        contract="Rti.InternalInterfaces.ServiceContracts.IEagleIqGatewayService"
        />
    </client>
  </system.serviceModel>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>

</configuration>
