<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
                   switchValue="All"
                   propagateActivity="true">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
                   switchValue="All">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true"
                                  logMalformedMessages="true"
                                  logMessagesAtServiceLevel="true"
                                  logMessagesAtTransportLevel="true"
                                  maxMessagesToLog="500"/>
    </diagnostics>
    
      <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDocumentManagerService" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
            <security mode="None">
              <transport clientCredentialType="None"></transport>
            </security>
          </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDocumentManagerService"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8064/Rti.DocumentManagerService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDocumentManagerService" contract="IDocumentManagerService" name="NetTcpBinding_IDocumentManagerService"/>
      <endpoint address="http://localhost:8065/Rti.DocumentManagerService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentManagerService" contract="IDocumentManagerService" name="WSHttpBinding_IDocumentManagerService">
        <identity>
          <userPrincipalName value="cbunders@emsc.root01.org"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
