<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <connectionStrings>
    <add name="CadAdminModelContainer" connectionString="metadata=res://*/CadAdminModel.csdl|res://*/CadAdminModel.ssdl|res://*/CadAdminModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEVDB01;PASSWORD=caddy;PERSIST SECURITY INFO=True;USER ID=CADADMIN&quot;" providerName="System.Data.EntityClient"/>
    <add name="TowerModelContainer" connectionString="metadata=res://*/TowerModel.csdl|res://*/TowerModel.ssdl|res://*/TowerModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=RTITSTA;PASSWORD=b33rm3;PERSIST SECURITY INFO=True;USER ID=TOWER&quot;" providerName="System.Data.EntityClient"/>
    <add name="RtTransBrokerAdminModelContainer" connectionString="metadata=res://*/RtTransBrokerAdminModel.csdl|res://*/RtTransBrokerAdminModel.ssdl|res://*/RtTransBrokerAdminModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEVDB01;PASSWORD=tranny;PERSIST SECURITY INFO=True;USER ID=RTTRANSBROKERADMIN&quot;" providerName="System.Data.EntityClient"/>
    <add name="IfamModelContainer" connectionString="metadata=res://*/IfamModel.csdl|res://*/IfamModel.ssdl|res://*/IfamModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=RTITSTA;PASSWORD=pr3b1ll;PERSIST SECURITY INFO=True;USER ID=PREBILL&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="c:/logs/RtiEagleIqGatewayServer.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Rti.EagleIqGatewayServer.Servers.EagleIqGatewayServer"
               behaviorConfiguration="ServiceBehavior" >
        <endpoint name="eagleIqGatewayEndpoint"
                  address="" 
                  binding="netTcpBinding" 
                  bindingConfiguration="DefaultBinding"
                  contract="Rti.InternalInterfaces.ServiceContracts.IEagleIqGatewayService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8044/Rti.EagleIqGatewayService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultBinding"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
